<?xml version="1.0" encoding="UTF-8"?>
<web-app>  
  
<servlet>  
<servlet-name>SaveServlet</servlet-name>  
<servlet-class>com.servlet.SaveServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>SaveServlet</servlet-name>  
<url-pattern>/saveservlet</url-pattern>  
</servlet-mapping>  
  
<welcome-file-list>  
    <welcome-file>folder/index.html</welcome-file>  
</welcome-file-list>  
  
</web-app>  